@import "./_colors.sass"
	
.todo-list-item
	padding: 15px 23px
	display: flex
	justify-content: space-between
	align-items: center
	width: 100%
	transition: .4s ease
	background-color: $white
	.icon
		color: $gray
	&:hover
		background-color: $hoverTodo

	&.completed
		.checkbox
			color: $main
		.todo-list-item__title
			text-decoration: line-through
			opacity: .4
		.todo-list-item__actions--delete
			color: red
			
	&.edit
		background-color: $hoverTodo
		.todo-list-item__actions--edit
			color: $main
		.todo-list-item__title
			background-color: $white
			opacity: 1

	&__title
		flex-grow: 1
		font-family: 'Roboto'
		font-weight: 500
		font-size: 26px
		margin-left: 20px
		&:disabled
			background-color: transparent
			
	&__actions
		display: flex
		align-items: center
		justify-content: flex-end
		button
			display: flex
			align-items: center
			justify-content: center
			transition: .4s ease
			&:hover
				color: $main