header
	background-color: #21d4c7
	text-align: center
	color: #fff
	padding: 20px
	box-shadow: 0px 3px 12px 0px rgba(207,207,207,1)
	h1
		margin: 0
		font-family: 'Roboto'
		font-weight: normal


main
	width: 100%

.todo-content
	width: 50%
	margin-top: 70px
	position: relative
	margin-left: auto
	margin-right: auto